.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 80px;
  padding: 0 20px;
  background: #839acc;
  color: #243e57;
}
.label {
  display: flex;
  align-items: center;
}
.input {
  border: none;
  color: #243e57;
  background: #839acc;
  font-size: 20px;
  text-overflow: ellipsis;
}

.pin-wrapper {
  display: flex;
}

.button {
  border: none;
  background: transparent;
}
